<! this page is not being used>

<!DOCTYPE html>
<div>

{% extends 'base.html' %}
{#% load bootstrap_tags %#}

<head lang="en">
    <meta charset="UTF-8">

</head>

    <div class="container">

        <div class="row">
            <div class="col-md-6 col-md-offset-3 jumbotron other-color">
                <div class="text-center">

    <h1> {% block head_text %} Distortions {% endblock %} </h1>

                </div>
            </div>
        </div>

<body>

    {% block content %}

    <form action = "/distortion/" method="POST" >
        {% csrf_token %}

        {{ form }}

         <button type="submit" name = "selected_distortions"> Submit Distortions </button>

    </form>

    {% endblock %}


</body>
</html>