<!DOCTYPE html>
<html>

{% extends 'base.html' %}
{#% load bootstrap_tags %#}

<head lang="en">
    <meta charset="UTF-8">
    <h1> {% block head_text %} your thoughts from today {% endblock %} </h1>
</head>

<body>


    {% block content %}

    <form action = "" method="POST" > {% csrf_token %}


                    {{ form }}



    <button type= "submit" name="save_thoughts"> Save Thoughts </button>

    <a href="{% url 'emotion-after' %}" class="button"> Review how you feel now, after identifying distortions </a>

    </form>

    {% endblock %}



</body>

</html>