<!DOCTYPE html>
<html>

{% extends 'base.html' %}


{% load render_table from django_tables2 %}

<head lang="en">
    <meta charset="UTF-8">
    <h1> {% block head_text %} Emotions {% endblock %} </h1>
    <link rel="stylesheet" href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css" />

    <script type="text/javascript">
    jQuery(document).ready(function() {

  var hello = $(".emotion_rating_after");

hello.on("focus input blur", function(event) {

  var inputFieldNode = $(this).text();

  console.log(event.type);
  console.log(inputFieldNode);

  if (event.type == 'blur') {

    jQuery.ajax({

       url: "/api/v1/?format=json",
       data: JSON.stringify( inputFieldNode ),
       type: "POST"

    })

    .done(function( response ) {

      $(this).addClass( "response" );

      if ((typeof response != 'undefined') && response) {
        console.log( "success: " + event);
      }

    });

  }

});
});
</script>
</head>
<body>

     {% block content %}

    <form action="/emotion-after/" method="post">{% csrf_token %}

        {% render_table table %}

     <button type="submit" name="Submit"> Submit Emotion Ratings </button>
    <a href="{% url 'thought-list' %}" class="button"> Write down some positive thoughts </a>

    </form>

     {% endblock %}




</body>
</html>