<!DOCTYPE html>
<html>

{% extends 'base.html' %}


<head lang="en">
    <meta charset="UTF-8">
    <h1> {% block head_text %} your positive thoughts {% endblock %} </h1>
</head>

<body>


    {% block content %}

    <form action = "" method="POST" > {% csrf_token %}


                    {{ form }}



    <button type= "submit" name="save_thoughts"> Save Thoughts </button>

    </form>

    {% endblock %}



</body>

</html>__author__ = 'szeitlin'
